body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}  

input[type=text] {
    width: 100%;
    font-size: 50px;
    margin: 1px;
    text-align: center;
}

.picture {
    width: 70%;
}

.picture_description {
    width: 70%;
}

button {
    width: 70%;
    height: 80px;
    background-color: rgb(7, 110, 228);
    font-size: 50px;
    margin: 1px;
    color: white;
    position: relative;
}
.smaller{
    height: 65px;
}
.delete{
    background-color: 	#ccc;
    position: absolute;
    left:100.1%;
    height: 61px;
    top: 0;
    width: 5%;
}

table,tr {
    position: relative;
    width: 70%;
}
th{
    position: relative;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}